body {
  font-family: "Lucida Sans Typewriter";
  background-color: white;
}

.jumbotron {
padding: 0px;
background-color: white;
}

.navbar {
  font-family: "Lucida Sans Typewriter";
  background-color: white;
  font-size: 150%;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 10%;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }
